AWS_REGION=ap-southeast-2
AGENT_RUNTIME_ARN=<Agent core's ARN>
KVS_CHANNEL_NAME=voice-agent-turn
ICE_TIMEOUT_S=15
CHIME_ONLY=0 
FORCE_AGENT_RX_RATE=0
AGENT_SAMPLE_RATE=16000
LOG_LEVEL=INFO
LOCAL_IP=<Public IP of instance>